.expandable-desc-box {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.expandable-desc-box.expanded {
  max-height: 10000px;
  transition: max-height 0.7s ease-in;
}

.expandable-desc-box .expand-btn,
.expandable-desc-box .collapse-btn {
  bottom: 0;
  left: calc(50% - 16px);
}

.expandable-desc-box .expand-btn {
  z-index: 1;
}

.expandable-desc-box .blurred-overlay {
  height: 32px;
  background-color: rgba(255, 255, 255, 0.5);
}
